<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>DinusBot | Kelompok 4</title>

<!-- Bootstrap core CSS -->
<link href="static/css/bootstrap.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="static/css/main.css" rel="stylesheet">
<link href="static/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Sofia&effect=neon|outline|emboss|shadow-multiple" rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Tapestry&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
<link href="static/css/animate-custom.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<script src="static/js/jquery.min.js"></script>
<script type="text/javascript" src="static/js/modernizr.custom.js"></script>
<script src="https://kit.fontawesome.com/9597617eb6.js" crossorigin="anonymous"></script>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body data-spy="scroll" data-offset="0" data-target="#navbar-main">
<div id="navbar-main"> 
  <!-- Fixed navbar -->
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <img src="https://dinus.ac.id/img/icon/LOGO WEB.png" class="navbar-brand" style="max-width:400px;padding: 0px;"></div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li> <a href="#home"     > Home</a></li>
          <li> <a href="#about"    > About</a></li>
          <li> <a href="#faculty" > Faculty</a></li>
          <li> <a href="#facilities"  > Facilities</a></li>
          <li> <a href="/bot"  >DinusBot</a></li>
          <li> <a href="#team"     > Team</a></li>
          <li> <a href="#contact"  > Contact</a></li>
        </ul>
      </div>
      <!--/.nav-collapse --> 
    </div>
  </div>
</div>

<!-- ==== HEADERWRAP ==== -->
<div id="headerwrap" name="home">
  <header class="clearfix">
    <a href="/bot" class="btn btn-lg" onMouseOver="this.style.color='#fff'" onMouseOut="this.style.color='#fff'">DinusBot</a> </header>
</div>
<!-- /headerwrap --> 

<!-- ==== ABOUT ==== -->
<div id="about" name="about">
  <div class="container">
    <div class="row white">
      <div class="col-md-6"> <img class="img-responsive" src="static\img\about\pict.about.jpg"> </div>
      <div class="col-md-6" style="color: black;">
        <h3 style="color: black;">History of Udinus</h3>
        <p>Universitas Dian Nuswantoro adalah salah satu perguruan tinggi swasta berakreditasi institusi A yang berada di Semarang, 
          Indonesia. Berdiri pada tahun 1990. Rektor pada tahun 2010 adalah Prof. Dr. Ir. Edi Noersasongko M. Kom.</p>
        <h3 style="color: black;">Vission & Mission</h3>
        <p>The top priority university to be chosen in education and entrepreneurship (Vission)<br>
          Conducting high quality university (Mission)<br>
          Growing and developing creativity and innovation of civitas academica that well contributes to society, government, and business sector (Mission)<br></b></p>
      </div>
    </div>
    <!-- row --> 
  </div>
</div>
<!-- container --> 

<!-- ==== FACULTY ==== -->
<div id="faculty" name="faculty">
  <div class="container">
    <div class="row">
      <h2 class="centered">Faculty</h2>
      <hr>
      <div class="col-lg-3 callout" style="border-top:1px solid #000;border-left:1px solid #000;border-bottom:1px solid #000;border-right:1px solid #000;height: 500px;background-color: #f4ce0f;"> <img src="static\img\services\coding.png" alt="" style="width: 80px;margin-top:25px;">
        <h3>Faculty Of Computer Science</h3>
        <p>Computer sciences and informatics is Dian Nuswantoro’s realization on social services in providing a real contribution for government by 
          preparing incalculable people to become professionals with higher competences, especially in the field of computer sciences and informatics 
          technology.</p>
      </div>
      <div class="col-lg-3 callout" style="border-top:1px solid #000;border-bottom:1px solid #000;border-right:1px solid #000;height: 500px;background-color: #f4ce0f;"> <img src="static\img\services\research.png" alt="" style="width: 80px;margin-top:25px;">
        <h3>Faculty of Humanities</h3>
        <p>Faculty of Humanities or FIB is an institution that committed to provide education for the advancement of science and culture. 
          The expectation is to get good feedback from stakeholder. The materials are adapted to the current qualifications required by the labor 
          market.</p>
      </div>
      <div class="col-lg-3 callout" style="border-top:1px solid #000;border-bottom:1px solid #000;border-right:1px solid #000;height: 500px;background-color: #f4ce0f;"> <img src="static\img\services\microscope.png" alt="" style="width: 80px;margin-top:25px;">
        <h3>Faculty Of Health Science</h3>
        <p>University of Dian Nuswantoro (UDINUS) through the Faculty of Health Science, organizes a program as efforts to increase the human 
          resources in the health sector. The vision of this faculty is to be the first choice in health education, supported with technology 
          and entrepreneurial skill.</p>
      </div>
      <div class="col-lg-3 callout" style="border-top:1px solid #000;border-bottom:1px solid #000;border-right:1px solid #000;height: 500px;background-color: #f4ce0f;margin-bottom: 30px;"> <img src="static\img\services\engineering.png" alt="" style="width: 80px;margin-top:25px;">
        <h3>Faculty Of Engineering</h3>
        <p>Faculty of Engineering Dian Nuswantoro University helps the government to establish well-educated and professional technical personnel. 
          In the industrial sector and the business world, the needs of human resources are increasing.</p>
      </div>  
    </div>
    <!-- row --> 
  </div>
</div>
<!-- container --> 

<!-- ==== Facilities ==== -->
<div id="facilities" name="facilities">
  <div class="container">
    <div class="row">
      <h2 class="centered" style="color:#f4ce0f">Facilities</h2>
      <hr>
    </div>
    <!-- /row -->
    <div class="container">
      <div class="row"> 
        
        <!-- MODAL SHOW THE PORTFOLIO IMAGE. In this demo, all links point to this modal. You should create
						      a modal for each of your projects. -->

        <!-- MODAL 1 -->
        <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color: #fff;">&times;</button>
                <h4 class="modal-title">Photography Lab</h4>
              </div>
              <div class="modal-body">
                <p><img class="img-responsive" src="static\img\facilities\image1.jpg" alt=""></p>
                <p style="color: black;text-align: justify;">Dian Nuswantoro University provides a laboratory for students. One of them is the Photography Laboratory. In this lab, the students 
                  will be briefed directly on how good shots are to be so as to produce a beautiful picture. In addition to directing, usually students 
                  will practice shooting directly. With this, it is expected to make students able to explore in the fields of photography.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="background-color: #f4ce0f;color: #fff;">Close</button>
              </div>
            </div>
            <!-- /.modal-content --> 
          </div>
          <!-- /.modal-dialog --> 
        </div>
        <!-- /.modal --> 
        
        <!-- MODAL 2 -->
        <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color: #fff;">&times;</button>
                <h4 class="modal-title">Tax Center Dinus</h4>
              </div>
              <div class="modal-body">
                <p><img class="img-responsive" src="static\img\facilities\image2.jpg" alt=""></p>
                <p style="color: black;text-align: justify;">Dian Nuswantoro University provides facilities for tax service information, that is the tax center. The tax center is expected to be 
                  the center of information of taxes for the entire academic community in UDINUS. Tax center is located on the 1st floor of C building 
                  which was inaugurated in 2014 with direct cooperation from the Regional Office of Directorate General of Taxation, Central Java. 
                  Tax center is also a tax laboratory in UDINUS. With the tax center in accordance with the vision and mission of UDINUS to 
                  continuously improve the quality of education for students.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="background-color: #f4ce0f;color: #fff;">Close</button>
              </div>
            </div>
            <!-- /.modal-content --> 
          </div>
          <!-- /.modal-dialog --> 
        </div>
        <!-- /.modal --> 

        <!-- MODAL 3 -->
        <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color: #fff;">&times;</button>
                <h4 class="modal-title">ILCS and CFLT</h4>
              </div>
              <div class="modal-body">
                <p><img class="img-responsive" src="static\img\facilities\image3.jpg" alt=""></p>
                <p style="color: black;text-align: justify;">ILCS and CFLT is a language institute in the Faculty of Humanities in University of Dian Nuswantoro (UDINUS). CFLT 
                  (Center for Foreign Language Training) is an institution that provides training and foreign language exams, especially English, 
                  Japanese and Mandarin. ILCS (Indonesian Language and Culture Service) is an institution that has a program to introduce the rich 
                  culture and beauty of Indonesia to foreign countries, especially in terms of introducing Indonesian to foreign nationals. One of 
                  the hallmarks of the language institute located in UDINUS is language learning materials 
                  corresponded to the needs of the workforce.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="background-color: #f4ce0f;color: #fff;">Close</button>
              </div>
            </div>
            <!-- /.modal-content --> 
          </div>
          <!-- /.modal-dialog --> 
          </div>
          <!-- /.modal -->
          
        <!-- MODAL 4 -->
        <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color: #fff;">&times;</button>
                <h4 class="modal-title">Dinus Entrepreneurship Tent</h4>
              </div>
              <div class="modal-body">
                <p><img class="img-responsive" src="static\img\facilities\image4.jpg" alt=""></p>
                <p style="color: black;text-align: justify;">As one of the best Universities in Central Java, Dian Nuswantoro University have a tent facility entrepreneurship as a form of 
                  commitment to produce many young entrepreneur. Tents entrepreneurship is a stall selling specially provided for students who want 
                  to train themselves in UDINUS during their study here. With the Entrepreneurship Tent, students are expected to learn more about the 
                  business world and can prepare themselves prior to actually go into the field when the graduate.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="background-color: #f4ce0f;color: #fff;">Close</button>
              </div>
            </div>
            <!-- /.modal-content --> 
          </div>
          <!-- /.modal-dialog --> 
          </div>
          <!-- /.modal -->
          
        <!-- MODAL 5 -->
        <div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color: #fff;">&times;</button>
                <h4 class="modal-title">Student Activity Center</h4>
              </div>
              <div class="modal-body">
                <p><img class="img-responsive" src="static\img\facilities\image5.jpg" alt=""></p>
                <p style="color: black;text-align: justify;">To support student activities in UDINUS, we have provided an Activity Center in the F Building. This building has 2 floors. 
                  We also facilitate students with sport activities, one of them is basketball. By providing a basketball court for the basketball team, 
                  UDINUS has so many achievements in regional and national competitions. For Wall Climbing, we have a climbing wall area which is used to 
                  train students of nature lovers (Mapala) ALDAKAWANASETA.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="background-color: #f4ce0f;color: #fff;">Close</button>
              </div>
            </div>
            <!-- /.modal-content --> 
          </div>
          <!-- /.modal-dialog --> 
          </div>
          <!-- /.modal -->

        <!-- MODAL 6 -->
        <div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color: #fff;">&times;</button>
                <h4 class="modal-title">Clinic</h4>
              </div>
              <div class="modal-body">
                <p><img class="img-responsive" src="static\img\facilities\image6.jpg" alt=""></p>
                <p style="color: black;text-align: justify;">UDINUS Polyclinic is established to give health service facilities for students and employees, and also the general public in the 
                  campus area. Nowadays, the UDINUS Polyclinic provides general clinic and dental polyclinic. The polyclinic is expected to give benefit 
                  of cheap and qualified medical service to students and employees in the University. And the dental clinic is equipped with dentists and 
                  appropriate equipments. Every student in UDINUS has the right to use polyclinic service which is allocated in every work hour from 
                  Monday to Saturday, starting from 8 am to 6 pm.</p>intents.json
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="background-color: #f4ce0f;color: #fff;">Close</button>
              </div>
            </div>
            <!-- /.modal-content --> 
          </div>
          <!-- /.modal-dialog --> 
          </div>
          <!-- /.modal -->

       <!-- PORTFOLIO IMAGE 1 -->
       <div class="col-md-4 ">
        <div class="grid mask">
          <figure> <img class="img-responsive" src="static\img\facilities\image1.jpg" alt="">
            <figcaption>
              <h5>Photography Lab</h5>
              <a data-toggle="modal" href="#myModal1" class="btn btn-default">More Details</a> </figcaption>
              <!-- /figcaption --> 
          </figure>
          <!-- /figure --> 
        </div>
        <!-- /grid-mask --> 
      </div>

        <!-- PORTFOLIO IMAGE 2 -->
        <div class="col-md-4">
          <div class="grid mask">
            <figure> <img class="img-responsive" src="static\img\facilities\image2.jpg" alt="">
              <figcaption>
                <h5>Tax Center Dinus</h5>
                <a data-toggle="modal" href="#myModal2" class="btn btn-default">More Details</a> </figcaption>
              <!-- /figcaption --> 
            </figure>
            <!-- /figure --> 
          </div>
          <!-- /grid-mask --> 
        </div>
        
        <!-- PORTFOLIO IMAGE 3 -->
        <div class="col-md-4">
          <div class="grid mask">
            <figure> <img class="img-responsive" src="static\img\facilities\image3.jpg" alt="">
              <figcaption>
                <h5>ILCS and CFLT</h5>
                <a data-toggle="modal" href="#myModal3" class="btn btn-default">More Details</a> </figcaption>
              <!-- /figcaption --> 
            </figure>
            <!-- /figure --> 
          </div>
          <!-- /grid-mask --> 
        </div>
      </div>
      <!-- /row --> 
      
      <!-- PORTFOLIO IMAGE 4 -->
      <div class="row">
        <div class="col-md-4 ">
          <div class="grid mask">
            <figure> <img class="img-responsive" src="static\img\facilities\image4.jpg" alt="">
              <figcaption>
                <h5>Dinus Entrepreneurship Tent</h5>
                <a data-toggle="modal" href="#myModal4" class="btn btn-default">More Details</a> </figcaption>
              <!-- /figcaption --> 
            </figure>
            <!-- /figure --> 
          </div>
          <!-- /grid-mask --> 
        </div>
        
        <!-- PORTFOLIO IMAGE 5 -->
        <div class="col-md-4">
          <div class="grid mask">
            <figure> <img class="img-responsive" src="static\img\facilities\image5.jpg" alt="">
              <figcaption>
                <h5>Student Activity Center</h5>
                <a data-toggle="modal" href="#myModal5" class="btn btn-default">More Details</a> </figcaption>
              <!-- /figcaption --> 
            </figure>
            <!-- /figure --> 
          </div>
          <!-- /grid-mask --> 
        </div>
        
        <!-- PORTFOLIO IMAGE 6 -->
        <div class="col-md-4">
          <div class="grid mask">
            <figure> <img class="img-responsive" src="static\img\facilities\image6.jpg" alt="">
              <figcaption>
                <h5>Clinic</h5>
                <a data-toggle="modal" href="#myModal6" class="btn btn-default">More Details</a> </figcaption>
              <!-- /figcaption --> 
            </figure>
            <!-- /figure --> 
          </div>
          <!-- /grid-mask --> 
        </div>
        <!-- /col --> 
      </div>
      <!-- /row --> 
        </div>
        <!-- /col --> 
      </div>
      <!-- /row --> 
    </div>
    <!-- /row --> 
  </div>
</div>
<!-- /container --> 

<!-- ==== TEAM MEMBERS ==== -->
<div id="team" name="team">
  <div class="container">
    <div class="row centered">
      <h2 class="centered">Team Members</h2>
      <div class="col-md-3 centered"> <img class="img img-circle" src="static\img\team\foto1.jpg" height="150px" width="150px" alt="">
        <h4>Nabila Jania Fitra</h4>
        <p>Data Exploration</p>
      </div>
      <div class="col-md-3 centered"> <img class="img img-circle" src="static\img\team\foto2.jpg" height="150px" width="150px" alt="">
        <h4>Nia Nur Lailiyah</h4>
        <p>Modelling</p>
      </div>
      <div class="col-md-3 centered"> <img class="img img-circle" src="static\img\team\foto3.jpg" height="150px" width="150px" alt="">
        <h4>Diaz Islami</h4>
        <p>Data Acquisition</p>
      </div>
      <div class="col-md-3 centered"> <img class="img img-circle" src="static\img\team\foto4.png" height="150px" width="150px" alt="">
        <h4>Giga Fajar Septanto</h4>
        <p>Deployment</p>
      </div>
    </div>
  </div>
  <!-- row --> 
</div>
<!-- container --> 

<!-- ==== CONTACT ==== -->
<div id="contact" name="contact">
  <div class="container">
    <div class="row">
      <h2 class="centered">Universitas Dian Nuswantoro</h2>
      <p style="margin-bottom: 40px;">For more information about the Dian Nuswantoro University, you can come directly to:</p>
      <div class="col-md-3 centered"> <i class="fa-solid fa-building-columns"></i>
        <p>Jl. Imam Bonjol No. 207 Semarang</p>
        <p>Postal Code : 50131</p>
      </div>
      <div class="col-md-3"> <i class="fa-solid fa-envelope"></i>
        <p>sekretariat@dinus.id</p>
      </div>
      <div class="col-md-3"> <i class="fa fa-fax fa-2x"></i>
        <p>Fax : (024) 3569684</p>
      </div>
      <div class="col-md-3"> <i class="fa fa-phone fa-2x"></i>
        <p>Phone : (024) 3517261</p>
      </div>
    </div>
    <!-- row -->
  </div>
</div>
<!-- container -->

<div id="footerwrap">
  <div class="container">
    <div class="row centered">
      <p class="copyright">Copyright © 2022 Kelompok 4 All Rights Reserved</p>
    </div>
  </div>
</div>




<script type="text/javascript" src="static/js/bootstrap.min.js"></script> 
<script type="text/javascript" src="static/js/retina.js"></script> 
<script type="text/javascript" src="static/js/jquery.easing.1.3.js"></script> 
<script type="text/javascript" src="static/js/smoothscroll.js"></script> 
<script type="text/javascript" src="static/js/jquery-func.js"></script>
</body>
</html>
